* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #ddd;
    position: relative;
    background: #fff;
}

.logo {
    height: 35px;
    position: absolute;
    top: 23px;
    left: 20px;
}

.header nav {
    position: absolute;
    right: 40px;
    top: 30px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

header nav ul li:hover {
    color: #4b0082;
    text-decoration: underline;
}


.container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #4b0082; 
}


/* Side Navigation Bar */
aside {
    width: 20%;
    float: left;
    color: white;
    padding: 20px 0;
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 15px 30px;
    cursor: pointer;
}

aside ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Main Content Area */
main {
    width: 80%;
    float: left;
    background-color: white;
    padding: 30px;
    min-height: 80vh;
}

.card-container {

    display: flex;
    border: 1px solid rgb(0, 131, 55);
    background-color: white;
    gap: 0px;
}

.card-container img {
    width: 33.33%;
    height: auto;
    border-right: 1px solid rgb(0, 131, 55);
}

.card-container img:last-child {
    border-right: none;
}


.text-content p { 
    font-size: 13px; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    text-align: justify; 
}

footer {
    background: #666; 
    color: white; 
    text-align: center;
    padding: 10px; 
    font-size: 12px;
}